<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <select id="userList" resultType="com.example.dto.systemmanagement.user.UserDisplayDTO">
        select user.id,
               user.username,
               user.employee_number,
               user.employee_name,
               user.user_type,
               user.is_use,
               camp.name campus_name
        from user user
                 left join campus camp on user.campus_id = camp.id
        where user.is_use = 0
        <if test="employeeName != null">
            and user.employee_name = #{employeeName}
        </if>
        <if test="employeeNumber != null">
            and user.employee_number = #{employeeNumber}
        </if>
    </select>
</mapper>